<main id="main" ng-app="myApp" ng-controller="appointmentCtrl">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container-fluid" ng-app="myApp" ng-controller="appointmentCtrl">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Appointment List</h4>
                <div class="row">
                  <div class="form-group col-3">
                    <label>Date</label>
                    <input type="date" id="tdate" ng-model="tdate" class="form-control"/>
                  </div>
                  <div class="form-group col-3">
                    <label>Doctor</label>
                    <select class="form-control" name="singleSelect" id="singleSelect" ng-model="doctorselect" ng-change="doctorchange()">
                    <option>Select Doctor</option>
                    <option ng-repeat="x in doctorlst" value="{{x.did}}">{{x.name}}</option>
                  </select>
                </div>
                <div class="form-group col-2">
                  <label>&nbsp;</label>
                  <button  type="submit" ng-click="search()" class="btn btn-primary login-btn btn-block" style="background-color:#FFC0CB; color:#808080;">Search</button>
                </div>
              </div>
            </div>
        
            <div class="table-responsive">
              <table class="table table-striped">
                <thead style="background:#87CEFA;">
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact No.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="patient in applst">
                    <td>{{patient.bookingtime}}</td>
                    <td>{{patient.name}}</td>
                    <td>{{patient.dob}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.phone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div style="height:200px;"></div>
    </div>
            
  </section>

</main><!-- End #main -->